.header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.header h1 {
  display: inline-block;
  font-size: 24px;
}

.header a {
  color: black;
  text-decoration: none;
}

.logo {
  width: 32px;
  margin-right: 10px;
  position: relative;
  top: -10px;
}

.header .messages {
  margin-left: 30px;
  font-size: 16px;
}