<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if not current_user.is_anonymous %}
      <meta id="_bootstrap_user" name="_bootstrap_user" content="{{ current_user.to_json() }}">
    {% endif %}
    {% block meta %}{% endblock %}
    {% for datum in bootstrap_data %}
      <meta id="_bootstrap_{{datum.name}}" name="{{datum.name}}" content="{{datum.value}}">
    {% endfor %}

    <title>NeighborMe - Share your skills &amp; talents with other women nearby</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/sample-chat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/react-datepicker.min.css') }}">
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/webflow/Logo.png') }}">

  </head>
  <body>
    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/fb_login.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/SendBird.min.js') }}"></script>

    <nav class="navbar neighborme-nav">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='img/logo-header.png') }}">
          </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
              <li> Hello, {{ current_user.first_name }}!</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}{% endblock %}
    <div class="row row-sm-padding row-pink footer-text">
      <div class="clearfix">
        <div class="pull-left">© NeighborMe, Inc.</div>
        <div class="pull-right">info@neighborme.co</div>
        <div class="text-center hidden-xs">
          <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Use</a>
        </div>
      </div>
      <div class="text-center visible-xs-block space-top-2">
        <a href="/privacy">Privacy Policy</a> | <a href="/terms">Terms of Use</a>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>